Source: maui-artwork
Section: admin
Priority: optional
Maintainer: Leszek Lesner <leszek@zevenos.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.7.2

Package: maui-artwork
Architecture: all
Recommends: wallpapers-extrapack-2,
	artwork-color-scheme-carbon,
	artwork-whiteclassicia-cursor,
	artwork-windows-cursor,
	desktop-theme-blackx,
	desktop-theme-bluex,
	desktop-theme-eclipse,
	desktop-theme-enlightenment,
	desktop-theme-sevenified,
	lnf-theme-blackx,
	lnf-theme-bluex,
	artwork-icons-maui,
	artwork-grub-maui,
	artwork-plymouth-maui,
	artwork-sddm-maui,
	artwork-lookandfeel-maui,
	artwork-color-scheme-maui,
	artwork-wallpapers-maui,
	artwork-aurorae-maui,
	artwork-desktop-theme-maui,
	artwork-audacious,
	aurorae-theme-win7,
	aurorae-theme-metrodark,
	aurorae-theme-gnome3,
	aurorae-theme-forman,
	aurorae-theme-carbon,
	carbon-qt,
	carbon-qt4,
	carbon-gtk2
Description: Metapackage for Artwork
  This metapackage provides the default artwork.
